@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: border-box;
}


body{
    background-color: rgb(161,100,223);
    font-family:'Poppins',sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    text-align: center;
    height: 100vh;
    overflow:hidden;
    margin:0
}

.btn{
    background-color: rebeccapurple;
    border-radius: 5px;
    border:none;
    color:#fff;
    /* https://chiamakaikeanyi.dev/sizing-in-css-px-vs-em-vs-rem/#:~:text=px%20is%20not%20scalable%2C%20it,px%20unit%20by%20the%20browser. */
    margin:1rem;
    padding:1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    /* https://www.aprenderaprogramar.com/index.php?option=com_content&view=article&id=716:concepto-de-herencia-en-hojas-de-estilo-css-ique-es-forzar-herencia-con-inherit-ejemplos-cu01013d&catid=75&Itemid=203#:~:text=As%C3%AD%20font%2Dfamily%20es%20una,significa%20que%20no%20se%20hereda. */
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

.btn:focus{
    outline: none;
}